<div class="btn btn-large">
  <i class="fa fa-arrow-right rotate-at-click" aria-hidden="true"></i><%= calltoaction %>
</div>

<%=link_to mail, 'mailto:'+mail ,class:"btn-large btn-hidden" %>
<div class="btn-large btn-hidden"><%= phone %></div>
<%=link_to social1, social1_link ,class:"btn-large btn-hidden" %>
<%=link_to social2, social2_link ,class:"btn-large btn-hidden" %>
