<div class="btn btn-large">
  <i class="fa fa-arrow-right rotate-at-click" aria-hidden="true"></i><%= calltoaction %>
</div>

<% link_to 'mailto:<%= mail %>' do %>
  <div class="btn-large btn-hidden"> <%= mail %> </div>
<% end %>

<div class="btn-large btn-hidden">
  <%= phone %>
</div>

<% link_to '<%= social1_link %>' do %>
  <div class="btn-large btn-hidden">
    <%= social1 %>
  </div>
<% end %>

<% link_to '<%= social2_link %>' do %>
  <div class="btn-large btn-hidden">
  <%= social2 %>
  </div>
<% end %>
